@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #000000;
} header .logo {
    position: absolute;
} section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
} section img #moon {
    mix-blend-mode: screen;
} #text {
    position: absolute;
    color: #fff;
    font-size: 50.5px;
    text-align: center;
    margin-left: auto;
    margin-right: 9em;
} section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} section img #mountains_front {
    z-index: 10;
} #btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: black;
    font-size: 1.5em;
} .purpose {
    text-align: center;
    margin-top: 10em;
    position: fixed;
    color: rgb(0, 0, 0);
} .p-images {
    object-fit: none;
    position: absolute;
    margin-top: 100em;
} #trophy {
    margin-left: -38em;
} #score {
    margin-left: 35em;
}